.container {
  /* border: 2px solid black; */
  padding: 0.25rem;
}

.list {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.listItem {
  border: 2px solid black;
  width: 100%;
}
